/* variables */
/* initial setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* screen reader only class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  background-color: white;
  color: #969696;
  min-width: 18rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 45rem;
}

.header {
  margin-top: 3em;
}
.header__intro {
  font-size: 2rem;
  margin-top: 2em;
}
.header__special {
  font-weight: 700;
  color: #151f29;
}
.header__detail {
  margin-top: 1em;
  font-size: 1.1rem;
  font-weight: 600;
}

/* input form */
.form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2em;
}
.form__control {
  font-size: 1.25rem;
  width: 90%;
  padding: 0.75em 1em;
  border-radius: 3em;
  outline: none;
  border: 1px solid #4f7df3;
  font-family: inherit;
}
.form__input {
  font-weight: 600;
}
.form__input::placeholder {
  font-weight: 300;
  color: #c2d3ff;
}
.form__input:hover {
  box-shadow: 0px 0px 5px 0 #c2d3ff;
}
.form__input:focus-visible {
  outline: 3px dotted #c2d3ff;
  outline-offset: 0.25rem;
}
.form__input:focus:not(:focus-visible) {
  outline: transparent;
}
.form__submit {
  background-color: #4f7df3;
  margin-top: 1em;
  color: white;
  font-weight: 600;
  box-shadow: 0.1em 0.1em 1em #c2d3ff;
  cursor: pointer;
  outline: none;
}
.form__submit:hover {
  background-color: rgba(79, 125, 243, 0.8);
  box-shadow: 0px 0px 5px 0 #c2d3ff;
}
.form__submit:focus-visible {
  background-color: rgba(79, 125, 243, 0.8);
  outline: 3px dotted #c2d3ff;
  outline-offset: 0.25rem;
}
.form__submit:focus:not(:focus-visible) {
  outline: transparent;
}
.form__submit:active {
  transition: transform 100ms ease-in-out;
  transform: scale(0.95);
}
.form__msg {
  opacity: 0;
  visibility: hidden;
  width: 85%;
  font-size: 0.75rem;
  transition: opacity 250ms ease-in;
  margin-top: 1.5em;
  text-align: left;
  font-weight: 600;
  font-style: italic;
}

/* styles for email validation */
.error {
  border: 1px solid #ff5263;
}

.error-visible {
  color: #ff5263;
  opacity: 1;
  visibility: visible;
}

.success-visible {
  color: #4f7df3;
  opacity: 1;
  visibility: visible;
}

/* illustration section */
.illustration {
  margin-top: 2.5em;
}
.illustration__img {
  width: 100%;
}

/* socials section */
.socials {
  margin-top: 3em;
  display: flex;
}
.socials__list {
  width: 100%;
}
.socials__item {
  cursor: pointer;
  margin: 0.5em;
  display: inline-block;
  border-radius: 50%;
}
.socials__item:hover {
  box-shadow: 0px 0px 1em 0 #c2d3ff;
}
.socials__item:focus-visible {
  background-color: #4f7df3;
  outline: 3px dotted #c2d3ff;
  outline-offset: 0.25rem;
}
.socials__item:hover .socials__icon {
  color: white;
}
.socials__link {
  display: block;
  padding: 0.5em;
  border-radius: 50%;
  border: 1px solid #969696;
  width: 2em;
}
.socials__link:hover {
  background-color: #4f7df3;
  box-shadow: 0px 0px 5px 0 #c2d3ff;
}
.socials__link:focus-visible {
  background-color: #4f7df3;
  outline: 3px dotted #c2d3ff;
  outline-offset: 0.25rem;
}
.socials__link:focus:not(:focus-visible) {
  outline: transparent;
}
.socials__link:focus-visible .socials__icon {
  color: white;
}
.socials__icon {
  color: #4f7df3;
}

/* copyright section */
.footer-section {
  margin-top: 1em;
  font-size: 1rem;
}

/* footer */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: white;
  margin-top: 3rem;
  color: #151f29;
  font-weight: 600;
}
.attribution__section {
  margin-top: 1em;
}
.attribution a {
  color: #4f7df3;
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover, .attribution a:focus-visible {
  outline: 3px dotted #c2d3ff !important;
  outline-offset: 0.25rem;
}
.attribution a:focus:not(:focus-visible) {
  outline: transparent;
}

/* media queries */
@media only screen and (min-width: 45rem) {
  .header {
    margin-top: 4.5em;
  }
  .header__intro {
    font-size: 3rem;
    margin-top: 1em;
  }

  .form {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .form__control {
    padding: 0.75em 1em;
  }
  .form__input {
    margin-top: 0;
    width: 60%;
  }
  .form__submit {
    margin-top: 0;
    width: 30%;
  }
  .form__msg {
    order: 3;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
